@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-dark: #212534;
    --bg-blue-dark: #191C29;
    --rounded-md: 10px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --gray:#eee;
    --pink:#ec4899;
    --purple:#8b5cf6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    max-width: 100%;
    height: 100vh;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card-design{
    width: 80%;
    height: 80vh;
    border-radius: var(--rounded-md);
    background-color: var(--bg-blue-dark);
}

h3.title-text {
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 35px;
}

.inputBarDesign {
    position: relative;
    width: 50%;
    padding: 0.7rem;
    outline: none;
    font-weight: 500;
    font-size: 20px;
}

.add-list-btn {
    width: 10%;
    padding: 0.7rem;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: #2196f3;
    color: white;
    margin-left: 12px;
}

.new-task-input {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.list-note-area{
    position: relative;
    width: 90%;
    margin: auto;
}

.list-note-title {
    font-size: 35px;
    font-weight: 100;
    color: white;
    text-transform: capitalize;
    margin-top: 50px;
}

.list-of-note{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-list {
    width: 100%;
    padding: 0.7rem;
    font-size: 15px;
    outline: none;
    background: none;
    border: none;
    color: white;
}

.three-col {
    width: 100%;
    position: absolute;
    top: 150%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
button.edit {
    padding: 0.7rem;
    font-size: 15px;
}

.actions {
    display: flex;
}

button.delete {
    padding: 0.7rem;
    font-size: 15px;
}


@media only screen and (max-width: 700px) {
    body{
        width: 100%;
        border: 1px solid red;
    }
    .new-task-input{

    }
}